/* 3-column.css */
/* Use this CSS to specify 3-column layout, changing only the order-x-y-z class in the content wrapper div: */

/* 3-column layouts for content area */
.columns {
  /* set width to contain intercolumn and .col-3 */
}
.intercolumn {
  /* contains columns 1 and 2 */
  /* set width to contain col-1 and .col-2 */
}
.col-1 {}
.col-2 {}
.col-3 {}


/* order-123 */
.order-123 {}
.order-123 .intercolumn {
  float: left;
}
.order-123 .col-1 {
  float: left;
}
.order-123 .col-2 {
  /*float: right;*/
  
    float: left;
}
.order-123 .col-3 {
  float: right;
}


/* order-132 */
.order-132 {}
.order-132 .intercolumn {
  width: auto; /* unset width for non-contiguous case in IE */
}
.order-132 .col-1 {
  float: left;
}
.order-132 .col-2 {
  float: right;
}
.order-132 .col-3 {
  float: right;
}


/* order-213 */
.order-213 {}
.order-213 .intercolumn {
  float: left;
}
.order-213 .col-1 {
  float: right;
}
.order-213 .col-2 {
  float: left;
}
.order-213 .col-3 {
  float: right;
}


/* order-231 */
.order-231 {}
.order-231 .intercolumn {
  width:  auto; /* unset width for non-contiguous case in IE */
}
.order-231 .col-1 {
  float: right;
}
.order-231 .col-2 {
  float: left;
}
.order-231 .col-3 {
  float: right;
}


/* order-312 */
.order-312 {}
.order-312 .intercolumn {
  float: right;
}
.order-312 .col-1 {
  float: left;
}
.order-312 .col-2 {
  float: left;
}
.order-312 .col-3 {
  float: left;
}


/* order-321 */
.order-321 {}
.order-321 .intercolumn {
  float: right;
}
.order-321 .col-1 {
  float: right;
}
.order-321 .col-2 {
  float: left;
}
.order-321 .col-3 {
  float: left;
}
    
/* You'll need this for the floated layout clearing problems: */

.clearfix {
  clear: both;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
