/* overrides for specific page layout */
.layers {
  margin: 1em 0;
}

/* 3-column layouts for content area */
.columns {
  border: 1px solid #666;
  margin: 1em 0;
  width: ; /* set width to contain intercolumn and .col-3 */
}
.intercolumn {
  /* contains columns 1 and 2 */
  width: 69.5%; /* set width to contain col-1 and .col-2 */
}
.col-1 {
  background: #fcf;
  border: 1px solid #ccc;
  width: 59.5%;
}
.col-2 {
  background: #cff9f9;
  border: 1px solid #ccc;
  width: 38.5%;
}
.col-3 {
  background: #fff0c0;
  border: 1px solid #ccc;
  width: 29.5%;
}
/*
#nested .intercolumn {
  width: 69.5%;
}
#nested .col-1 {
  width: 59.5%;
}
#nested .col-2 {
  width: 38.5%;
}
#nested .col-3 {
  width: 29.5%;
}
*/

#nested-1 {
  width: 99%;
}
#nested-2 {
  width: 99%;
}
#nested-3 {
  width: 99%;
}
