 /* overrides for specific page layout */
.layers {
  margin: 1em 0;
}

/* 3-column layouts for content area */

.columns {
  border: 1px solid #666;
  margin: 1em 0;
  width: 65em; /* set width to contain intercolumn and .col-3 */
}
.intercolumn {
  /* contains columns 1 and 2 */
  width: 39.75em; /* set width to contain col-1 and .col-2 */
}
.col-1 {
  background: #ffccff;
  border: 1px solid #999;
  width: 24.75em;
}
.col-2 {
  background: #cff9f9;
  border: 1px solid #999;  
  width: 14.75em;
}
.col-3 {
  background: #fff0c0;
  border: 1px solid #999;
  width: 24.75em;
}

#nested .intercolumn {
  width: 69%;
}
#nested .col-1 {
  width: 59%;
}
#nested .col-2 {
  width: 39%;
}
#nested .col-3 {
  width: 29%;
}

#nested-1 {
  width: 99%;
}
#nested-2 {
  width: 99%;
}
#nested-3 {
  width: 99%;
}
